<div class="loading"></div>

<section>
  <div title="Thomas Bureller FullStack developpeur" class="logoFont">TB</div>
  <mat-slide-toggle [(ngModel)]="isChecked" (ngModelChange)="onChange($event)"
    class="language">{{lang}}</mat-slide-toggle>
</section>

<div class="homePageTitle">
  <h1>Thomas Bureller</h1>
  <h2>{{'developer' | translate}}</h2>
</div>

<nav>
  <ol>
    <li class="navSlide  orange mobileNavSkills"><a href="#linkSkills" class="linkNav mobileNavSkills">{{'skills' |
        translate}}</a></li>
    <li class="navSlide redwine mobileNavProjects"><a href="#linkProjects"
        class="linkNav linkNavMobileProjects">{{'projects' | translate}}</a></li>
    <li class="navSlide deepblue mobileNavAbout"><a href="#linkAbout" class="linkNav mobileNavAbout">{{'about' |
        translate}}</a></li>
  </ol>
</nav>


