h1, h2 {
  font-family: LeagueSpartan;
  color: white;
}

h2 {
  font-weight: bolder;
  font-size: 10vh;
}

h1 {
  font-size: 5vh;
  font-weight: lighter;
}

.homePageTitle {
  position: relative;
  margin: auto;
  top: 20vh;
}

section> .mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: #ffb370;
  --mdc-switch-selected-handle-color: #ffb370;
  --mdc-switch-selected-hover-state-layer-color: #ffb370;
  --mdc-switch-selected-pressed-state-layer-color: #ffb370;
  --mdc-switch-selected-focus-handle-color: #ffb370;
  --mdc-switch-selected-hover-handle-color: #ffb370;
  --mdc-switch-selected-pressed-handle-color: #ffb370;
  --mdc-switch-selected-focus-track-color: #92414d;
  --mdc-switch-selected-hover-track-color: #92414d;
  --mdc-switch-selected-pressed-track-color: #92414d;
  --mdc-switch-selected-track-color: #92414d;
}

section> .mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
}


/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px)  {
  h2 {
    font-weight: bolder;
    font-size: 4vh;
  }

  h1 {
    font-size: 4vh;
    font-weight: lighter;
  }

  .homePageTitle {
    position: relative;
    margin: auto;
    top: -10vh;
  }

 }

 @media screen and (orientation: portrait) {
  h2 {
    font-weight: bolder;
    font-size: 4vh;
  }

  h1 {
    font-size: 4vh;
    font-weight: lighter;
  }

  .homePageTitle {
    position: relative;
    margin: auto;
    top: -10vh;
  }
}
