h1, h2 {
  font-family: LeagueSpartan;
  color: white;
}

h2 {
  font-weight: bolder;
  font-size: 10vh;
}

h1 {
  font-size: 5vh;
  font-weight: lighter;
}

.homePageTitle {
  position: relative;
  margin: auto;
}
