<div class="popup">
  <h2 mat-dialog-title>{{data.title | translate}}</h2>
  <mat-dialog-content>
    <div *ngIf="data.title === 'developCareer'">
      <div>
        <img class="floatLeft" src="/assets/images/logo-eni.png" alt="Logo de l'école nationale d'informatique" />
        <h3>{{'homeDevFormTitle' | translate}}:</h3>
        <p>{{'homeDevFirst' | translate}}</p>
        <p>{{'homeDevSecond' | translate}}</p>
      </div>
      <div class="margintop">
        <img class="floatRigth" src="/assets/images/logo-act.png" alt="Logo d'Accenture" />
        <h3>{{'accentureTitle' | translate}}:</h3>
        <p>{{'accentureFirst' | translate}}
        </p>
        <p>{{'accentureSecond' | translate}}:
        <ul>
          <li>{{'accentureli1' | translate}}</li>
          <li>{{'accentureli2' | translate}}</li>
          <li>{{'accentureli3' | translate}}</li>
        </ul>
        <p>{{'accentureThird' | translate}}</p>
        <p>{{'accentureFourth' | translate}}</p>
      </div>
    </div>
  </mat-dialog-content>
</div>
