@import '../../colors';

@font-face {
  font-family: LeagueSpartan;
  src: url('../../assets/fonts/LeagueSpartan.ttf') format('truetype');
}

.popup {
  width: 80vw;
  height: 80vh;
  background-color: $whiteyellow;
}

:host ::ng-deep h2 {
  font-family: LeagueSpartan !important;
  background-color: $lightblue;
  color: $whiteyellow !important;
  font-size: large;
}
.mat-typography ,h3 {
  font-family: LeagueSpartan;
  font-size: medium;
  line-height: 20px;
  font-weight: bolder;
}

li {
  font-family: LeagueSpartan;
  font-size: medium;
}

.floatLeft {
  float: left;
  width: 100px;
  height: 100px;
  padding-right: 2vw;
}

.floatLeftBigger {
  width: 200px;
  height: 200px;
  padding-right: 2vw;
  float: left;
}

.jcfc {
  display: flex;
  flex-direction: column;
}

.floatRigth {
  float: right;
  width: 100px;
  height: 100px;
  padding-left: 2vw;
}

.floatRigthBigger {
  float: right;
  width: 200px;
  height: 200px;
  padding-left: 2vw;
}

.margintop {
  margin-top: 5vh;
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px)  {

  .floatRigthBigger {
    float: right;
    width: 100px;
    height: 100px;
    padding-left: 2vw;
  }

  .floatLeftBigger {
    width: 100px;
    height: 100px;
    padding-right: 2vw;
    float: left;
  }

 }

