<div class="jabi" *ngIf="lockedScreen">
  <form (ngSubmit)="checkAnswer()" #answerForm="ngForm">
    <label>Quel est le nom de votre application mobile pour les résidences seniors ?</label>
    <input type="text"
           id="userAnswer"
           name="userAnswer"
           [(ngModel)]="userAnswer"
           required
           placeholder="Votre réponse"
           #userAnswerInput="ngModel">
    <button type="submit" [disabled]="!answerForm.valid" aria-label="Valider">Valider</button>
    <p class="messageErreur" *ngIf="messageErreur">Un indice : 5 lettres</p>
  </form>
  <input type="hidden" id="correctAnswer" value="major">
</div>
<div class="backgroundWaiting" *ngIf="!lockedScreen">
  <div class="accessPage" *ngIf="!lockedScreen">
    <div class="formalites fullscreen">
      <div class="card slideFromLeft lightGreen flexbottom">
        <h2 class="halfCard cv">CV</h2>
        <div class="halfCard iconDownload" (click)="downloadCV()">
          <i class="fa-solid fa-download"></i>
        </div>
      </div>
      <div class="card1 cardLarger slideFromRight" (click)="openModal(1)">
        <h2 class="fontStyle">Lettre de motivation</h2>
      </div>
    </div>
    <div class="arguments fullscreen">
      <h2 class="card2 cardLarger slideFromLeft margin0 mobileH2" (click)="openModal(2)">Mon experience professionnelle auprès des seniors</h2>
      <div class="card slideFromRight lightGreen image-button" (click)="openModal(3)">
        <img src="../../assets/images/profiljabi.png" alt="Thomas Bureller" />
      </div>
    </div>
    <div class="modal1" *ngIf="isModal1Open">
      <div class="modal1-content">
        <span class="close" (click)="closeModal(2)">×</span>
        <div class="modal-slider">
          <div class="slide" *ngIf="currentSlide === 0">
            <h2>Mon expérience en podologie</h2>
            <p>{{podoText}}</p>
            <img src="../../assets/images/podologue.webp" alt="Podologue au près d'une patiente" />
          </div>
          <div class="slide" *ngIf="currentSlide === 1">
            <h2>Mon expérience en pharmacie</h2>
            <p>{{paharmacyText}}</p>
            <img src="../../assets/images/pharmacy.webp" alt="Préparateur en pharmacie conseillant un couple" />
          </div>
          <div class="navigation">
            <button aria-label="Podologue"(click)="goToSlide(0)">Podologue</button>
            <button aria-label="Pharmacie"(click)="goToSlide(1)">Pharmacie</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" *ngIf="isModalOpen" >
      <div class="modal-content">
        <span class="close" (click)="closeModal(1)">×</span>
        <p>Madame, Monsieur,</p>
        <p>Allier technologie et impact humain a toujours été un moteur dans ma carrière. C’est pourquoi je vous adresse ma candidature pour un poste de développeur FullStack au sein de JABI. Votre mission, dédiée à l’amélioration du bien-être des seniors grâce à des outils numériques innovants, résonne profondément avec mes compétences et mes aspirations professionnelles.
        Mon parcours combine une solide expertise technique et une sensibilité aux besoins humains. En tant que développeur FullStack, j’ai conçu des applications interactives et accessibles, m’appuyant sur des technologies comme Angular, NodeJS et PostgreSQL. Mes projets m’ont permis de développer des solutions intuitives et ergonomiques, en gardant toujours à l’esprit les attentes des utilisateurs finaux.</p>
        <p>Auparavant pédicure-podologue, j’ai travaillé de nombreuses années auprès des seniors, ce qui m’a permis d’acquérir une compréhension approfondie des enjeux du vieillissement et des besoins spécifiques de ce public. Cette expérience, couplée à mes compétences en développement, me donne une perspective unique pour contribuer aux projets de JABI.
        Mon ambition est de m’inscrire dans une collaboration durable au sein de votre entreprise, en accompagnant votre développement tout en poursuivant mon apprentissage. Curieux et motivé, je suis prêt à me former sur de nouvelles technologies et à relever les défis à venir pour répondre aux besoins de vos utilisateurs et à l’évolution de vos projets.</p>
        <p>Je serais honoré de contribuer à la réussite de vos solutions et à l’innovation que vous portez. Dans l’attente d’un éventuel entretien, je vous remercie pour l’attention portée à ma candidature et vous prie d’agréer, Madame, Monsieur, l’expression de mes salutations distinguées.</p>
        <p>Thomas BURELLER</p>
      </div>
    </div>

    <div class="modal" *ngIf="isModal2Open" >
      <div class="modal2-content">
        <span class="close" (click)="closeModal(3)">×</span>
        <h3>Mes projets de développeur.</h3>
        <p>Présent chez Accenture depuis deux ans, j'ai participé à 4 projets :</p>
        <ul>
          <li>Création et développement Front/Back d'un parcours de souscription pour un assuré dans le but de finaliser un contrat :</li>
            <p>Conception : Réalisations de diagrammes et de maquettage.<br>
            Développement: Partie front-end principalement, sous Angular, et developpemnt d'une partie du Back sous NestJS avec une Base de données MongoDb.<br>
            Livraison applicative réalisée par mes soins, et suivi des anomalies et évolutions apportées.</p>
          <li>Développement d'un site de type Escape Game pour les collégiens :</li>
            <p>Mon but sur ce projet: Participer à l'intégration et l'évaluation de 6 POE au sein de l'entreprise par le développement du projet.<br>
            Participer à la conception/maquettage autour d'un chef de projet, d'un UX designer et du client.<br>
            Présentation des céremonies Agiles, intégration des POE (mise en place du poste de travail, revues de codes).</p>
          <li>Développement d'un jeu de plateau (type Zelda) pour une bonne d'arcade :</li>
            Mon but sur ce projet: Participer à l'intégration et l'évaluation de 6 POE au sein de l'entreprise par le développement du projet.<br>
            Participer à la conception/maquettage autour d'un chef de projet, d'un UX designer et du client.<br>
            <p>Présentation des céremonies Agiles, intégration des POE (mise en place du poste de travail, revues de codes).</p>
          <li>Présence depuis 18 mois au sein d'un projet pour une entreprise public:</li>
          <div>
            <p>Application mise en service il y a 7 ans, traitant plus de 200.000 dossiers par an, avec une logique métier complexe.<br>
              Technologies : Angular, NodeJs (Loopback), SQL.<br>
              Composition de l'équipe: 1 cheffe de projet, 1 PO, 1 Tech lead, 2 développeurs.<br>
              Missions : Corrections d'anomalies / Mise en place d'évolution, Scripts SQL / Montée de version / Déploiement applicatif sur les environnements / Revues de code...<br>
              Développement significatif: mise en place d'une API (et d'un service mock) pour la communication entre deux services publics, réduisant le flux de courriers papier de plus 10.000 unités par an.</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
