@font-face {
  font-family: LeagueSpartan;
  src: url('../../assets/fonts/LeagueSpartan.ttf') format('truetype');
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.jabi {
  background: linear-gradient(270deg, #ffffff, #47b798);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  font-family: LeagueSpartan;
  width: 100vw;
  height: 100vh;
  background-color: #47b798;
  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.accessPage {
  width: 100vw;
  height: 100vh;
  background-color: #bcb6ce;
  animation: 1.5s ease-out 0s 1 slideInFromTop;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.fullscreen {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

h1 {
  font-family: LeagueSpartan;
  font-weight: bold;
  color: white;
  animation: 3s ease-out 0s 1 opacity0to100;
  position: absolute;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.lightGreen {
  color: black !important;
  background-color: #ffffff !important;
}

.cardLarger {
  width: 60vw !important;
  height: 300px;
}

.slideFromLeft {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.slideFromRight {
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.card {
  width: 38vw;
  height: 300px;
  font-family: LeagueSpartan;
  background-color: #449b93;
  color: white;
  font-size: xx-large;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.cv {
  font-family: LeagueSpartan;
  font-weight: bolder;
  color:#bcb6ce;
  font-size: 7em;
}

.flexbottom {
  align-items: flex-end !important;
}

.halfCard {
  width: 38vw;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  text-align: center;      /* Centrer le texte si nécessaire */
}

.iconDownload {
  height: 150px !important;
  width: 200px !important;
  background-color: #510059;
  color: white;
  font-size: 2em;
}

.iconDownload:hover {
  background: #bcb6ce;
  color:#510059;
  cursor: pointer;
}

.backgroundWaiting {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #47b798;
}

form {
  display: flex;
  flex-direction: column; /* Les éléments du formulaire s'affichent en colonne */
  align-items: center; /* Centre les éléments horizontalement dans le formulaire */
  padding: 20px;
  background-color: #f4f4f4; /* Fond léger pour le formulaire */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Ombre légère pour l'effet visuel */
}

input {
  font-family: LeagueSpartan;
  margin: 10px 0; /* Espacement entre les éléments du formulaire */
  padding: 8px;
  width: 250px; /* Largeur du champ de saisie */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

button {
  padding: 10px 20px;
  background-color: #47b798;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc; /* Couleur du bouton lorsqu'il est désactivé */
}

button:hover {
  background-color: #510059; /* Changement de couleur au survol */
}

.messageErreur {
  color: #510059;
  font-size: 14px;
  margin-top: 10px;
  z-index: 1;
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px) {
  form {
    display: flex;
    flex-direction: column; /* Les éléments du formulaire s'affichent en colonne */
    align-items: center; /* Centre les éléments horizontalement dans le formulaire */
    padding: 20px;
    width: 80vw;
    background-color: #f4f4f4; /* Fond léger pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 20px rgba(81, 0, 89, 0.9); /* Ombre légère pour l'effet visuel */
    border: 1px solid #510059;
  }

  label {
    text-align: center;
  }

  .fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    justify-content: space-around; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }

  .cardLarger {
    width: 100vw !important;
    height: 300px;
  }

  .slideFromLeft {
    animation: 2s ease-out 0s 1 slideInFromLeft;
  }

  .slideFromRight {
    animation: 2s ease-out 0s 1 slideInFromRight;
  }

  .card {
    width: 100vw;
  }

  .cv {
    font-family: LeagueSpartan;
    font-weight: bolder;
    color:#bcb6ce;
    font-size: 3em;
  }

  .flexbottom {
    align-items: flex-end !important;
  }

  .halfCard {
    width: 54vw;
    height: 300px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    text-align: center;      /* Centrer le texte si nécessaire */
  }

  h1 {
    font-size: medium;
    top: 0px;
    right: 30px;
  }
}



@media screen and (orientation: portrait) {

}


/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
