@font-face {
  font-family: LeagueSpartan;
  src: url('../../assets/fonts/LeagueSpartan.ttf') format('truetype');
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.jabi {
  background: linear-gradient(270deg, #ffffff, #47b798);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  font-family: LeagueSpartan;
  width: 100vw;
  height: 100vh;
  background-color: #47b798;
  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.accessPage {
  width: 100vw;
  height: 100vh;
  background-color: #bcb6ce;
  animation: 1.5s ease-out 0s 1 slideInFromTop;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.fullscreen {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

h1 {
  font-family: LeagueSpartan;
  font-weight: bold;
  color: white;
  animation: 3s ease-out 0s 1 opacity0to100;
  position: absolute;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.lightGreen {
  color: black !important;
  background-color: #ffffff !important;
}

.cardLarger {
  width: 60vw !important;
  height: 300px;
}

.slideFromLeft {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.slideFromRight {
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.card {
  width: 38vw;
  height: 300px;
  font-family: LeagueSpartan;
  background-color: #449b93;
  color: white;
  font-size: xx-large;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.cv {
  font-family: LeagueSpartan;
  font-weight: bolder;
  color:#bcb6ce;
  font-size: 7em;
}

.flexbottom {
  align-items: flex-end !important;
}

.card1:hover .fontStyle {
  color: #ffffff;
  font-weight: bold;
}

.fontStyle {
  font-size: 2em;
  transition: color 0.3s ease, font-weight 0.3s ease;
  font-family: LeagueSpartan;
}

.card1 {
  width: 38vw;
  height: 300px;
  background-color: #449b93;
  color: white;
  font-size: xx-large;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition fluide */
  position: relative; /* Nécessaire pour l'effet de brillance */
  overflow: hidden; /* Masque les débordements pour l'effet de brillance */
}

.card1:hover {
  background: linear-gradient(135deg, #47b798, #510059); /* Passe à un dégradé */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px, rgba(0, 0, 0, 0.12) 0px -5px 10px,
              rgba(0, 0, 0, 0.15) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 10px;
  cursor: pointer;
}

.card1:hover .fontStyle {
  color: #ffffff;
  font-weight: bold;
}

.fontStyle {
  font-size: 2em;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Animation douce */
}

/* Effet de brillance */
.card1::after {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card1:hover::after {
  top: 0;
  left: 0;
  opacity: 1;
  animation: shine 1.5s linear forwards;
}
/* Animation de la brillance */
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(200%) rotate(45deg);
  }
}

.card2 {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #510059; /* Couleur principale */
  color: #fff; /* Texte blanc */
  font-size: 1.2em; /* Taille du texte */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
  transition: all 0.3s ease; /* Animation fluide pour les effets */
}

.card2:hover {
  background-color: #47b798; /* Change la couleur de fond au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Accentue l’ombre */
  transform: translateY(-3px); /* Légère élévation */
  cursor: pointer; /* Indique l'interaction */
}

.modal1 {
  font-family: LeagueSpartan;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-out;
}

.modal1-content {
  position: relative;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 2em;
  animation: borderAnimation 3s infinite alternate;
}

img {
  float: left; margin: 0 15px 15px 0; width: 300px;
}

.slide {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding-top: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation button {
  padding: 10px 20px;
  background-color: #47b798;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.slide>h2 {
  font-family: LeagueSpartan;
  color: #510059;
  font-weight: bold;
}

.navigation button:hover {
  background-color: #510059;
}

.halfCard {
  width: 38vw;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  text-align: center;      /* Centrer le texte si nécessaire */
}

.iconDownload {
  height: 150px !important;
  width: 200px !important;
  background-color: #510059;
  color: white;
  font-size: 2em;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transition fluide */

}

.iconDownload:hover {
  background: #bcb6ce;
  color:#510059;
  cursor: pointer;
  transform: scale(1.1); /* Agrandit légèrement l'icône */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Ombre subtile */
}

.backgroundWaiting {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #47b798;
}

form {
  display: flex;
  flex-direction: column; /* Les éléments du formulaire s'affichent en colonne */
  align-items: center; /* Centre les éléments horizontalement dans le formulaire */
  padding: 20px;
  background-color: #f4f4f4; /* Fond léger pour le formulaire */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Ombre légère pour l'effet visuel */
}

input {
  font-family: LeagueSpartan;
  margin: 10px 0; /* Espacement entre les éléments du formulaire */
  padding: 8px;
  width: 250px; /* Largeur du champ de saisie */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

button {
  padding: 10px 20px;
  background-color: #47b798;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc; /* Couleur du bouton lorsqu'il est désactivé */
}

button:hover {
  background-color: #510059; /* Changement de couleur au survol */
}

.messageErreur {
  color: #510059;
  font-size: 14px;
  margin-top: 10px;
  z-index: 1;
}

// Modale

.modal {
  font-family: LeagueSpartan;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-out;
}

.modal-content {
  position: relative;
  width: 80vw; /* Largeur adaptée à l'écran */
  max-height: 80vh; /* Hauteur maximale pour ne pas dépasser la fenêtre */
  overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
  padding: 20px;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Assure que les éléments enfants sont disposés en colonne */
  justify-content: center; /* Centre verticalement */
  text-indent: 2em;
  animation: borderAnimation 3s infinite alternate;
}

.modal-content p:last-of-type {
  margin-top: 2em;
  text-align: right; /* Aligne le texte "Thomas Bureller" à droite */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #510059;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px) {
  form {
    display: flex;
    flex-direction: column; /* Les éléments du formulaire s'affichent en colonne */
    align-items: center; /* Centre les éléments horizontalement dans le formulaire */
    padding: 20px;
    width: 80vw;
    background-color: #f4f4f4; /* Fond léger pour le formulaire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 20px rgba(81, 0, 89, 0.9); /* Ombre légère pour l'effet visuel */
    border: 1px solid #510059;
    width: 90vw; /* Ajuste le formulaire à la largeur de l'écran */
    box-sizing: border-box; /* Inclut padding et bordure dans la largeur */
  }

  .card, .card1, .cardLarger, .halfCard {
    width: 90vw; /* Réduit la largeur à 90% de l'écran */
    margin: 0 auto; /* Centre les éléments horizontalement */
  }

  .fullscreen {
    flex-direction: column !important; /* Éléments empilés */
    justify-content: flex-start; /* Aligne les éléments au début */
    align-items: center; /* Centre les éléments */
  }

  .modal-content {
    width: 90vw; /* Ajuste la largeur à l'écran mobile */
    max-height: 80vh; /* Empêche que la modale dépasse l'écran */
  }

  label {
    text-align: center;
  }

  .fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    justify-content: space-around; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }

  .cardLarger {
    width: 100vw !important;
    height: 300px;
  }

  .slideFromLeft {
    animation: 2s ease-out 0s 1 slideInFromLeft;
  }

  .slideFromRight {
    animation: 2s ease-out 0s 1 slideInFromRight;
  }

  .card {
    width: 100vw;
  }

  .cv {
    font-family: LeagueSpartan;
    font-weight: bolder;
    color:#bcb6ce;
    font-size: 3em;
  }

  .flexbottom {
    align-items: flex-end !important;
  }

  .halfCard {
    width: 54vw;
    height: 300px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    text-align: center;      /* Centrer le texte si nécessaire */
  }

  h1 {
    font-size: medium;
    top: 0px;
    right: 30px;
  }
}



@media screen and (orientation: portrait) {

}


/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
