<app-header></app-header>

<nav>
  <ol>
    <li class="navSlide redwine mobileNavSkills"><a href="#linkSkills" class="linkNav mobileNavSkills">{{'skills' |
        translate}}</a></li>
    <li class="navSlide orange mobileNavProjects"><a href="#linkProjects"
        class="linkNav linkNavMobileProjects">{{'projects' | translate}}</a></li>
    <li class="navSlide deepblue mobileNavAbout"><a href="#linkAbout" class="linkNav mobileNavAbout">{{'about' |
        translate}}</a></li>
  </ol>
</nav>

<div class="container">
  <div class="slide skills skillsBackground" id="linkSkills">
    <div>
      <a href="#"><i class="fa-solid fa-circle-up backTop"></i></a>
    </div>
    <div class="insidePage">
      <div class="knowledge front">
        <div class="iconLogo">
          <div class="icon"><i class="fa-solid fa-display"></i></div>
        </div>
        <div class="textContent">
          <h2>Front-End</h2>
          <div class="line"></div>
          <p>Angular</p>
          <p>Angular Material</p>
          <p>Semantic UI</p>
          <p>Responsive Webdesign</p>
          <p>WCAG</p>
        </div>
      </div>
      <div class="knowledge back">
        <div class="iconLogo">
          <div class="icon"><i class="fa-solid fa-floppy-disk"></i></div>
        </div>
        <div class="textContent">
          <h2>Back-End</h2>
          <div class="line"></div>
          <p>NodeJS</p>
          <p>NestJS</p>
          <p>LoopBack</p>
          <p>RestAPI</p>
          <p>Postman</p>
        </div>
      </div>
      <div class="knowledge database">
        <div class="iconLogo">
          <div class="icon"><i class="fa-solid fa-database"></i></div>
        </div>
        <div class="textContent">
          <h2>{{'database' | translate}}</h2>
          <div class="line"></div>
          <p>PostGreSQL</p>
          <p>SQLServer</p>
          <p>MongoDB</p>
          <p>Compass</p>
          <p>DBeaver</p>
        </div>
      </div>
      <div class="knowledge devops">
        <div class="iconLogo">
          <div class="icon"><i class="fa-solid fa-code"></i></div>
        </div>
        <div class="textContent">
          <h2>DevOps</h2>
          <div class="line"></div>
          <p>Jenkins</p>
          <p>Azure Devops</p>
          <p>Ansible</p>
          <p>Linux</p>
          <p>Git</p>
        </div>
      </div>
    </div>
    <div class="titleSlide titleResponsive titleSkills">{{'skills' | translate}}</div>
  </div>
  <div class="slide orange" id="linkProjects">
    <div>
      <a href="#"><i class="fa-solid fa-circle-up backTop"></i></a>
    </div>
    <div class="wip"><i class="fa-solid fa-peace"></i></div>
    <div class="waitingwip">{{'wip' | translate}}</div>
    <div class="titleSlide titleResponsive titleproducts">{{'projects' | translate}}</div>
  </div>
  <div class="slide deepblue" id="linkAbout">
    <div class="relative">
    <div>
      <a href="#"><i class="fa-solid fa-circle-up backTop"></i></a>
    </div>
    <div class="pacmanLine H1"></div>
    <div class="pacmanLine H2"></div>
    <div class="ghost aGhost"><i class="fa-solid fa-ghost"></i></div>
    <div class="ghost bGhost"><i class="fa-solid fa-ghost"></i></div>
    <div class="ghost cGhost"><i class="fa-solid fa-ghost"></i></div>
    <div class="ghost dGhost"><i class="fa-solid fa-ghost"></i></div>
    <div class="ghost eGhost"><i class="fa-solid fa-ghost"></i></div>
    <div class="borderPhoto">
      <div class="titleSlide titleResponsive titleAbout">{{'about' | translate}}</div>
      <div class="photoProfile"></div>
    </div>
    <div class="aboutContent">
        <button class="aboutButton">Experiences professionelles</button>
        <button class="aboutButton">Vision du métier</button>
        <button class="aboutButton">way of life</button>
    </div>
  </div>
  </div>
</div>

<app-footer></app-footer>
