.insidePage {
  height: 70vh;
  width: 80vw;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.knowledge {
  margin-top: 2vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  background-color: #92414d;
  color: #fff5e8;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 25px;
  font-size: xx-large;
}

.iconLogo {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon:hover {
  background-color: #ffb370;
  color: #384358;
}

.textContent {
  height: 50vh;
  width: 15vw;
}

.textContent, h2 {
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  color: #384358;
  font-family: LeagueSpartan;
}

.line {
  width: 15vw;
  height: 2px;
  background-color: #92414d;
  margin-bottom: 3vh;
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px)  {

  .insidePage {
    height: 100vh;
    width: 100vw;
    margin:auto;
    display: flex;
    flex-direction: column;
  }

  .knowledge {
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .iconLogo {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icon {
    background-color: #92414d;
    color: #fff5e8;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 25px;
    font-size: xx-large;
  }

  .textContent {
    height: 30vh;
    width: 100vw;
  }

  .line {
    display: none;
    width: 100vw;
    height: 2px;
    background-color: #92414d;
    margin-bottom: 3vh;
  }

 }
