.insidePage {
  height: 70vh;
  width: 80vw;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.knowledge {
  margin-top: 2vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  background-color: #92414d;
  color: #fff5e8;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 25px;
  font-size: xx-large;
}

.iconLogo {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textContent {
  height: 50vh;
  width: 15vw;
}

.textContent, h2 {
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  color: #384358;
  font-family: LeagueSpartan;
}

.line {
  width: 15vw;
  height: 2px;
  background-color: #92414d;
  margin-bottom: 3vh;
}

.wip {
  margin-top: 20vh;
  text-align: center;
  font-size: 15em;
  background: -webkit-linear-gradient(#92414d, #f57959);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillsBackground {
  background: linear-gradient(300deg,#fff5e8,#ffd4ac,#ffb370);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

.mat-slide-toggle-bar {
  background-color: #e47171 !important;
}

.titleproducts {
  color: #0e374f;
}

.titleAbout {
  color: #fff5e8;
}

.waitingwip {
  margin-top: 10vh;
  font-size: 3em;
  color: #0e374f;
  text-align: center;
}



.borderPhoto {
  height: 220px;
  width: 75vw;
  display: flex;
  top: 4vh;
  position: relative;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 0.5vw;
  align-items: center;
  background: #0e374f;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  box-shadow: rgba(0,0,0,0.7) 0px 5px 15px;
}

.photoProfile {
  height: 200px;
  width: 200px;
  background: url('../assets/images/profilblue.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
}

.photoProfile:hover {
  height: 200px;
  width: 200px;
  background: url('../assets/images/profilblueopacity.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

.aboutContent {
  width: 80vw;
  height: 45vh;
  margin: auto;
  position: relative;
  top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutButton {
  width: 20vw;
  height: 20vh;
  color: #fff5e8;
  font-family: LeagueSpartan;
  text-align: center;
  padding: auto;
  background: #384358;
  border: 1px solid #fff5e8;
  font-size: 25px;
  box-shadow: black 0px 5px 15px;
}

.aboutButton:hover {
  width: 20vw;
  height: 30vh;
  color: #fff5e8;
  font-family: LeagueSpartan;
  text-align: center;
  padding: auto;
  background: #0e374f;
  border: 5px solid #ffb370;
  font-size: 25px;
  box-shadow: #ffb370 0px 5px 15px;
  animation: size-animation 0.65s ease-in-out;
  font-size: 30px;
}

// Pacman Content

.relative {
  position: relative;
  cursor: url('../assets/images/cursor/pacmanCursor.png'), auto;
  transition: cursor 0.3s ease; /* Optionnel : transition fluide */
}

.ghost {
  position: absolute;
  animation: all 14s infinite;
  font-size: 2em;
  z-index: 0;
  padding: 10px; /* Ajoute un padding pour agrandir la zone cliquable */
}

.ghost:active {
  transform: scale(0.9); /* Réduit légèrement la taille pour l'effet de clic */
  transition: transform 0.1s; /* Transition fluide */
}

.ghost:hover {
  transform: scale(1.1); /* Augmente légèrement la taille au survol */
  transition: transform 0.2s; /* Transition fluide */
}

.cGhost {
top:60vh;
color: #92414d;
 animation: ghost-c-animation 15s infinite;

}

@keyframes ghost-animation {
  100% {
right: 100vw;
  }
}

@keyframes ghost-c-animation {
  0% {
    left: -5vw;
  }
  20% {
    left: 20vw;
     top: 60vh;
  }
  40% {
    top: 40vh;
    left: 20vw;

  }
  100% {
    top: 40vh;
    left: 100vw;
  }
}

.aGhost {
  top: 3vh;
  left: -5vw;
  color:#ffb370;
  animation: ghost-a-animation 20s infinite;
}

@keyframes ghost-a-animation {
  0% {
    left: -20vw;
  }
  20% {
    left: 30vw;
     top: 3vh;
  }
  40% {
    top: 40vh;
    left: 30vw;

  }
  100% {
    top: 40vh;
    left: 120vw
  }
}

.bGhost {
  color:#f57959;
  top: 30vh;
  right: -5vw;
  animation:  ghost-b-animation 13s infinite;
}

@keyframes ghost-b-animation {
  0% {
    top: 30vh;
    right: -5vw;
  }
  20% {
     top: 30vh;
     right: 30vw;
  }
  30% {
    top: 50vh;
    right: 30vw;

  }
  100% {
    top: 50vh;
    right: 120vw;
  }
}

.dGhost {
  top: 10vh;
  color:#eb3f42;
  animation:  move-top-left 16s infinite;
  }

@keyframes move-top-left {
  0% {
    top: 10vh;
    left: -5vw;
  }
  25% {
    left: 5vw;
  }
  75% {
    top: 85vh;
    left: 5vw;
  }
  100% {
    top: 85vh;
    left: -5vw;
  }
}
.eGhost {
  top: -10vh;
  right: 15vw;
  color:#ffd4ac;
  animation:  move-top-bottom 15s infinite;
  }

@keyframes move-top-bottom {
  0% {
    top: -10vh;
    right: 15vw;
  }
  50% {
    top: 90vh;
    right: 15vw; /* Va jusqu'au bord droit du viewport */
  }
  100% {
    right: 110vw;
    top: 90vh;
  }
}


@keyframes size-animation {
  0% {
    height: 20vh;
    border: 1px solid #e47171;
    box-shadow: none;
    background-color: #384358;
    font-size: 25px;
  }
  100% {
    height: 30vh;
    border: 1px solid #ffb370;
    box-shadow: none;
    font-size: 30px;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:599px)  {

  .insidePage {
    height: 100vh;
    width: 100vw;
    margin:auto;
    display: flex;
    flex-direction: column;
  }

  .ghost {
    display: none;
  }

  .aboutContent {
    flex-direction: column;
  }

  .pacmanLine {
    display: none
}

  .aboutButton {
    width: 80vw;
  }

  .aboutButton:hover {
    width: 80vw;
  }

  .knowledge {
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .iconLogo {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icon {
    background-color: #92414d;
    color: #fff5e8;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 25px;
    font-size: xx-large;
  }

  .textContent {
    height: 30vh;
    width: 100vw;
  }

  .line {
    display: none;
    width: 100vw;
    height: 2px;
    background-color: #92414d;
    margin-bottom: 3vh;
  }

  .waitingwip {
    font-size: 3vh;;
  }

  .titleproducts {
    color: #0e374f;
    position: relative;
    top: -55vh;
  }


 }
