@import '../../colors';

.wip {
  padding-top: 10vh;
  text-align: center;
  font-size: 15em;
  background: -webkit-linear-gradient($orange, $lightyellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundProducts {
  background-color: $purple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contentProject {
  width: 100vw;
  height: 80vh;
  border-bottom: 2px solid $whiteyellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.website {
  box-shadow: rgba(0, 0, 0, 0.12) 0px -30px 50px, rgba(0, 0, 0, 0.12) 0px 40px 60px, rgba(0, 0, 0, 0.09) 0px -30px 50px;
  width: 14.8vw;
  height: 60vh;
  border: 1px solid $whiteyellow;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.websiteImage {
  width: 100%;
  height: auto;

}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  color: $darkblue;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay-text {
  opacity: 0;
}

.websiteImage {
  width: auto;
  height: 60vh;
  transition: filter 0.5s ease;
  filter: blur(4px);
}

.image-container:hover .websiteImage {
  filter: blur(0);
}

.titleproducts {
  color: $whiteyellow;
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:300px) and (max-width:759px) {

  .contentProject {
    width: 100vw;
    height: 80vh;
    border-bottom: 2px solid $whiteyellow;
    display: flex;
    flex-direction: column;
  }

  .website {
    box-shadow: rgba(0, 0, 0, 0.12) 0px -30px 50px, rgba(0, 0, 0, 0.12) 0px 40px 60px, rgba(0, 0, 0, 0.09) 0px -30px 50px;
    width: auto;
    height: 60vh;
    border: 1px solid $whiteyellow;
  }

  .titleproducts {
    color: $whiteyellow;
    font-size: 5vh;
    position: relative;
  }

}
