<div class="backTopTiph">
  <a href="#" aria-label="revenir au sommaire"><i class="fa-solid fa-circle-up"></i></a>
</div>
<div class="tiphWrapper">
<div class="tiphContainer">
  <div class="text-container">
    <p class="intro">
      Un site web <strong>mobile first</strong> réalisé pour une créatrice de bijoux, avec <em>authentification sécurisée</em> et <em>gestion des données</em>.
    </p>

    <p class="section-title">Technologies utilisées</p>
    <ul>
      <li>Angular</li>
      <li>Python (FastAPI)</li>
      <li>SQL</li>
    </ul>

    <p class="footer-note">
      <span class="site-label">Visiter le site :</span> <span class="coming-soon">(bientôt disponible)</span>
    </p>
  </div>



  <div class="image-container">
    <img src="../assets/images/tiph02.png" alt="Site mobile (page authentification)" class="websiteImage"/>
  </div>

  <div class="image-container">
    <img src="../../assets/images/tiph01.png" alt="Site mobile Tiph-bricole" class="websiteImage" />
  </div>
</div>
</div>
