<div class="backTopTiph">
  <a href="#" aria-label="revenir au sommaire"><i class="fa-solid fa-circle-up"></i></a>
</div>
<div class="tiphWrapper">
<div class="tiphContainer">
  <div class="text-container">
    <p class="intro">
      {{'webSite' | translate}} <strong>{{'mobileFirst' | translate}}</strong> {{'tiph01' | translate}} <em>{{'auth' | translate}}</em> {{'and' | translate}} <em>{{'data' | translate}}</em>.
    </p>

    <p class="section-title">{{'technos' | translate}} :</p>
    <ul>
      <li>Angular</li>
      <li>Python (FastAPI)</li>
      <li>SQL</li>
    </ul>

    <p class="footer-note">
      <span class="site-label">{{'visit' | translate}} :</span> <span class="coming-soon"> ({{'comingSoon' | translate}})</span>
    </p>
  </div>



  <div class="image-container">
    <img src="../assets/images/tiph02.png" alt="Site mobile (page authentification)" class="websiteImage"/>
  </div>

  <div class="image-container">
    <img src="../../assets/images/tiph01.png" alt="Site mobile Tiph-bricole" class="websiteImage" />
  </div>
</div>
</div>
